html{height:100%;}

body{height:inherit;}

.content{ height:inherit;
            max-width: 300px;
            
            margin:100px auto;}

.container{border: 1px solid gray;
            }
.id,.pw{width:300px;
    height:30px;
    border:1px solid aqua;

    border-width:2px }
.id, .pw:focus{ outline:none;}

.id{margin-top: 10px;}

.pw{margin-top:10px; }

.btn_login{ margin-top:10px;
            margin-bottom:10px;
            width:300px;
            height:40px;
            font-size: 20px;
            color:white;
            text-align: center;
            background: aqua;
            padding-top:10px;
            padding-bottom:10px;}
.btn_login:hover{background: aquamarine;
}